/* Animation properties */

  .byline span {
    animation: spin-letters 10s linear ;
  }
  .byline {
    animation: move-byline 10s linear ;
  }

  @keyframes spin-letters {
    0%, 10% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 1;
    }
  }
  
  @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  }
  
  /* Make the 3D work on the container */
  .space {
    perspective: 800px;
    transform-style: preserve3d;
  }
  
  /* General styles and layout */
  body {
    background: #000 url(images/estrellas.jpeg);
    background-size: 100%;
  }
  
  .space {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
  }
  
  .byline span {
    display: inline-block;
  }
  
  img {
    width: 100%;
  }
  
  .byline {
    position: absolute;
  }
  
  .byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.15em;
    left: -2em;
    letter-spacing: 0.2em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
  }
  
  /* Media queries for adjusting to different screen sizes */
  
  @media only screen and (max-width: 600px) {
    .space{ 
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .space {
      font-size: 7px;
    }
  }