
body {
    background: #fff;
    background-size: 100%;
    position:fixed;
  }

  #rick{
    margin:200px;
    width: 100px;
    position: absolute;
}

#morty{
    margin:200px;
    width: 100px;
    position: absolute;
}