


body {
    background: #000 url(images/estrellas.jpeg);
    background-size: 100%;
  }

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.title{
    display: block;
    text-align: center;
    color: #ffffff;
}
@keyframes jigsaw {
    0% {
      width: 0%
    }
    100% {
        width: 15%
    }
  }
 .jigsaw{
    display:block;
    margin:auto;
    width: 15%;
    animation-name: jigsaw;
    animation-duration: 6s;
}

.button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.button:hover{
    color: #1883ba;
    background-color: #ffffff;
}